// --------------------------------------------
// LOBOTOMISED OWL SPACING OVERRIDES
// --------------------------------------------

%spacing{
	margin-top:1.1em;
	@media (min-width:$B) { margin-top:1.85em; }
}
%halfSpacing{
	margin-top:0.65em;
	@media (min-width:$B) { margin-top:0.925em; }
}
.spacing{
	@extend %spacing;
}

.mt0{ margin-top:0!important; }
// .z1{ z-index:1 }
// .z2{ z-index:2 }
// .z3{ z-index:3 }
// .z4{ z-index:4 }
.z5{ z-index:5 }
.z6{ z-index:6 }
.z7{ z-index:7 }
.z8{ z-index:8 }
.z9{ z-index:9 }

// --------------------------------------------
// GENERIC UTILITY HELPERS
// --------------------------------------------

.absolute{ position:absolute }
.relative{ position:relative }
.fixed{ position:fixed;}
.alignCenter,.alignCenter *{ text-align:center; }
.minHeight1{ min-height:1px; } // IE11 hack
.wFull{ width:100%; }
.bgCover{ background-size:cover;background-position:50%; }
.block{ display:block; }

// --------------------------------------------
// COLOURS
// --------------------------------------------

// .bgLight{ background-color:$light; }
.bgBrand{
	background-color:$brand!important;
	*{ color:#fff; }
	a{ color: $accent; }
}

// --------------------------------------------
// RESPONSIVE HELPERS
// --------------------------------------------

.fullscreen{
	display:none!important;
	@media (min-width:$B) {
		display:block!important;
	}
}
// .fullscreen-inline{
// 	display:none!important;
// 	@media (min-width:$B) {
// 		display:inline!important;
// 	}
// }
.mini{
	@media (min-width:$B) {
		display:none!important;
	}
}

// --------------------------------------------
// FLEXBOX HELPERS
// --------------------------------------------

.flex{ display:flex; }
.flexStart { justify-content:flex-start; }
.flexEnd { justify-content:flex-end; }
.justifyBetween{ justify-content:space-between; }
.justifyAround{ justify-content:space-around; }
.justifyCenter{ justify-content:center; }
.itemsCenter{ align-items:center; }
.itemsStart{ align-items:flex-start; }
// .flexFirst { order:0; }
// .stickToFlexEnd{ margin-top:auto; }
// .flexRow{ flex-direction:row; }
.flexColumn{ flex-direction:column; }
.flexWrap{ flex-wrap:wrap; }
.miniFlexLinearise{
	display:flex;
	flex-direction:column;
	@media (min-width:$B) {
		flex-direction:row;
		> *{ margin-top:0; }
	}
}

// --------------------------------------------
// RESPONSIVE ASPECT RATIO HELPERS
// --------------------------------------------

// .aspect-ratio{
// 	position:relative;
// 	display:block;
// 	height:0;
// 	padding:0;
// 	overflow:hidden;
// 	// default to 16by9
// 	padding-bottom:56.25%; // or use this for 4:3 ratio: padding-bottom:75%;
// 	iframe,embed,object,video {
// 		position:absolute;
// 		top:0;bottom:0;left:0;
// 		width:99.88%;height:100%;
// 		border:1px solid #d2d2d2;
// 		border-radius:5px;
// 	}
// }