// --------------------------------------------
// NAV
// --------------------------------------------

.primaryNav{

}

.menuTrigger{
	position:absolute;
	top:11px;
	right:$gutter;
	z-index:10;
	width:60px;
	height:60px;
	outline:0;
	margin:0;
	span{
		margin:0;
		position:absolute;
		left:17px;
		display:block;
		height:2px;
		width:27px;
		background:$accent;
		transition:top .2s .25s, left .2s .25s, opacity .2s .25s, transform .2s 0s;
		&:nth-child(1){ top:20px; }
		&:nth-child(2){ top:28px;width:22px; }
		&:nth-child(3){ top:37px;width:17px; }
	}
	&.active span {
		& { transition:background .2s, top .2s, left .2s, opacity .2s, transform .2s .25s; }
		&:nth-child(1),&:nth-child(3){ top:28px;width:27px; }
		&:nth-child(2){ opacity:0; }
		&:nth-child(1){ transform:rotate(45deg); }
		&:nth-child(3){ transform:rotate(-45deg); }
	}
}