// -------------------
// BREAKPOINTS
// -------------------

$A: (479/16) * 1em;
$B: (760/16) * 1em;
$B2: (897/16) * 1em;
$C: (960/16) * 1em;
$C2: (1019/16) * 1em;

// -------------------
// COLOUR PALETTE
// -------------------

$brand: #cbdaaa; //green
$accent: #8bb9ae; //teal
$accent2: #ee8305; //orange
$dark: #322d28; //dark brown

// -------------------
// VARIOUS SHARED DIMENSIONS
// -------------------

$gutter: 2%;

// -------------------
// FONTS
// -------------------

$bodyFont: "myriad-pro",helvetica,arial,sans-serif;
$bodyWeight:400;
$bodyColor: #716558;

$headingFont: "myriad-pro",helvetica,arial,sans-serif;
$headingWeight:300;

$bold:600;